table {
  width: 100%;
}
::ng-deep .mat-checkbox .mat-checkbox-frame
{
	border-color:violet !important;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background
{
	background-color: darkcyan !important;
}