<div class="col-lg-6">
 


    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                   

                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
                            </mat-form-field>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address" [(ngModel)]="address" name="address" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" [(ngModel)]="password" type="text"
                                    name="password" required>
                                    
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                    <span matPrefix>+91 &nbsp;</span>
                                <input matInput placeholder="Mobile Number" [(ngModel)]="mobile" type="number"
                                    name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- <mat-form-field class="example-full-width">
                                <input matInput placeholder="Role" [(ngModel)]="role" type="role"
                                    name="role" required>
                            </mat-form-field> -->

                            <mat-form-field>
                                <mat-label>Select Role</mat-label>
                                <mat-select (change)="selected($event)">
                                  <mat-option *ngFor="let role of roles" [value]="role.value" (click)="getInnerText(role.value)">
                                    {{role.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </td>
                    </tr>


                </table>
            </form>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">Register</button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="col-lg-6">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username_login" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" [(ngModel)]="password_login" type="password"
                                    name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>