<div class="main-panel">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Event Name"  [(ngModel)]="eventname"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Event Time"  [(ngModel)]="eventtime"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Food Type"  [(ngModel)]="foodtype"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantity"  [(ngModel)]="quantity"/>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Address"  [(ngModel)]="address"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Donor Name" [(ngModel)]="donorname" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Donor Mobile" [(ngModel)]="donormobile" />
    </mat-form-field>


    <mat-form-field>
      <textarea matInput placeholder="Donor Address"  [(ngModel)]="donoraddress"></textarea>
    </mat-form-field>
    

     <!-- <input type="date"   [(ngModel)]="pickupdate"> -->

     <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Input & change events"
             (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   

    <mat-form-field>
      <input matInput placeholder="Pick Up Time" [(ngModel)]="pickuptime" />
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-card-actions>
            <button mat-raised-button (click)="savedata()" color="primary">Save</button>
            <button mat-stroked-button  (click)="reset()" color="primary">Reset</button>
        </mat-card-actions>
  </div>
</div>
