<div class="main-panel">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Event Name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Food Type" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantity" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Address"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Donor Name" />
    </mat-form-field>


    <mat-form-field>
      <textarea matInput placeholder="Donor Address"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Save</button>
            <button mat-stroked-button color="primary">Reset</button>
        </mat-card-actions>
  </div>
</div>
