<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/">FOOD DELIVERY</a></span>
     <span class="spacer"></span>
     <!-- <a mat-button (click)="goto('auth')">Register</a> -->
     <a mat-button  (click)="goto('dashboard')">Live Feed Status</a>
     <a mat-button  *ngIf="admin" (click)="goto('admin')">Admin</a>
     <a mat-button  *ngIf="receiver" (click)="goto('receiver')">Needy</a>
     <a mat-button (click)="goto('provider')">Donor</a>
     <a mat-button  *ngIf="agent"  (click)="goto('agent')">Agent</a>
     <a mat-button (click)="goto('auth')">Auth</a>
     <a mat-button (click)="goto('logout')">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
