<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <!-- <a mat-button (click)="goto('auth')">Register</a> -->
     <a mat-button (click)="goto('receiver')">Receiver</a>
     <a mat-button (click)="goto('provider')">Provider</a>
     <a mat-button (click)="goto('agent')">Agent</a>
     <a mat-button (click)="goto('auth')">Auth</a>
     <!-- <a mat-button (click)="goto('auth')">Login</a> -->
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
