.wrap
{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.69);
  padding-top: 55px;
  overflow:auto;
}

.content
{
	width: 48%;
	height: 300px;
	background-color: #243037;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1%;
	box-shadow: 1px 1px 11px 1px;
}