/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-panel
{
    /* width: 100%; */
    padding:25px;

}


::-webkit-scrollbar {
		width: 5px;
		height: 10px;
		border-radius: 10px;
	}
	::-webkit-scrollbar:hover {
		cursor: pointer;
	}

	/* Track */
	::-webkit-scrollbar-track {
	    background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(131,144,157);

	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
		cursor: pointer;
	}

	/* Removes the clear button from date inputs */
	input[type="date"]::-webkit-clear-button {
		display: none;
	}

	/* Removes the spin button */
	input[type="date"]::-webkit-inner-spin-button {
		display: none;
	}
